@font-face {
    font-family: 'ArcVF';
    src: url('../fonts/ArcVF.woff2') format("woff2-variations"),
         url('../fonts/ArcVF.woff') format("woff-variations"),
         url('../fonts/ArcVF.ttf') format("ttf-variations"),
    }

@font-face {
    font-family: 'Violet Sans';
    src: url('../fonts/VioletSans-Regular.woff2') format("woff2"),
         url('../fonts/VioletSans-Regular.woff') format("woff"),
         url('../fonts/VioletSans-Regular.ttf') format("ttf"),
    }

@font-face {
    font-family: 'HyperCubeVF';
    src: url('../fonts/HypercubeVariableNonCommercialRegular.woff2') format("woff2-variations"),
         url('../fonts/HypercubeVariableNonCommercialRegular.woff') format("woff-variations"),
         url('../fonts/HypercubeVariableNonCommercialRegular.ttf') format("ttf-variations"),
    }

body.index{
    background-color: #000000;
    font-family: 'HyperCubeVF';
}

.div-arc{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
    height: 100vh;
    height: 100svh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 0 30px 0;
    margin: 0;
}

.p-arc:first-child{
    margin: 0;
}

.a-arc {
    font-variation-settings: 'hght' 1, 'CNTR' 1;
}

.r-arc {
    font-variation-settings: 'hght' 1, 'CNTR' 1;
}

.c-arc {
    font-variation-settings: 'hght' 1, 'CNTR' 1;
}

.p-arc {
    font-family: 'ArcVF';
    /* font-stretch: 20%; */
    font-weight: 370;
    /* font-size: 41vh;
    font-size: 41svh; */
    padding: 0;
    margin: 20px 0 0 0;
    line-height: 0.7;
    color: #fff;
    overflow: hidden;
}

.link-w{
    font-family: 'Violet Sans';
    font-size: 2.2em;
    color: #fff;
    text-decoration: underline;
}

.row-grid {
    position: fixed;
    padding: 30px 0 30px 0;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    z-index: 10;
}

.grid-row-container{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border-top: rgba(250, 250, 250, 0.25) solid 1px;
    border-bottom: rgba(250, 250, 250, 0.25) solid 1px;
}

.grid-row{
    margin: 20px 0 0 0;
    height: 8.3%;
    padding: 0;
    border-top: rgba(250, 250, 250, 0.25) solid 1px;
    border-bottom: rgba(250, 250, 250, 0.25) solid 1px;
}

.grid-row:first-child{
    margin-top: 0;
    border-top: none;
}

.grid-row:last-child{
    border-bottom: none;
}

.col-grid {
    position: fixed;
    padding: 0 30px 0 30px;
    width: 100vw;
    height: 100vh;
    height: 100svh;
    z-index: 10;
}

.grid-col-container{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-right: rgba(250, 250, 250, 0.25) solid 1px;
    border-left: rgba(250, 250, 250, 0.25) solid 1px;
}

.grid-col{
    margin: 0 0 0 20px;
    width: 16.6%;
    padding: 0;
    border-right: rgba(250, 250, 250, 0.25) solid 1px;
    border-left: rgba(250, 250, 250, 0.25) solid 1px;
}

.grid-col:first-child{
    margin-left: 0;
    border-left: none;
}

.grid-col:last-child{
    margin-right: 0;
    border-right: none;
}

.grid-row-content{
    margin: 20px 0 0 0;
    height: 8.3%;
    padding: 0;
}

.grid-row-content:first-child{
    margin-top: 0;
    border-top: none;
}

.grid-row-content:last-child{
    border-bottom: none;
}

.abstract-home{
    font-family: 'HyperCubeVF';
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.08em;
    color: #fff;
    /* position: fixed;
    width: 65vw;
    top: 63.5px;
    left: 64px; */
    z-index: 5;
    mix-blend-mode: difference;
}

.abstract-home-2{
    font-family: 'HyperCubeVF';
    font-weight: 300;
    font-size: 2em;
    line-height: 1.2;
    color: #fff;
    position: fixed;
    width: 60vw;
    bottom: 18svh; 
    left: 60px;
}

.inizia{
    position: fixed;
    bottom: 80px;
    right: 90px;
    z-index: 5;
    mix-blend-mode: difference;
}

.inspect{
    position: fixed;
    height: 100px;
    left: 30px;
    top: 30px;
}

/* ----------------------------------------------- mappa ----------------------- */

body.mappa { 
    margin: 0; 
    padding: 0; 
}

.div_verifica_dentro_fuori{
    background-color: rgb(0, 0, 0);
    position: fixed;
    padding: 10px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    z-index: 5;
}
.dentro_fuori{
    color: #fff;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
.mapboxgl-user-location-dot, .mapboxgl-user-location-dot::before{
    background-color: #000000 !important;
}
.mapboxgl-user-location-show-heading .mapboxgl-user-location-heading:after, .mapboxgl-user-location-show-heading .mapboxgl-user-location-heading:before {
    border-bottom: 7.5px solid #000000 !important;
    content: "";
    position: absolute;
}
.mapboxgl-user-location-accuracy-circle {
    background-color: #8b8b8b33 !important;
    border-radius: 100%;
    height: 1px;
    width: 1px;
}



/* ------------------------------------------------------------------ test mode -------------------------------- */

.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    }
    
.overlay button {
    font: 600 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background-color: #3386c0;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.overlay button:hover {
    background-color: #4ea0da;
}

.overlay button:disabled {
    background: #f5f5f5;
    color: #c3c3c3;
}

#info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
    }

    .nocursor{
        cursor: none;
    }